<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Admin MC</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div style="max-width:768px; margin: 0 auto" class="pure-g">
<div style="background-color: coral; height: 30px;width: 100%;" class="pure-u-1">
</div>

<div style="margin-top: 1px" class="pure-u-1">
  <h1>Panel de control</h1>
  
  <p> Aca se muestra el estado del servidor. Por favor, entre cambios de estado, esperar un tiempo prudencial y chequear si está funcionando o apagado. Gracias. </p>
</div>
<div class="pure-u-1">
  <h4>{% if status == "running" %} Minecraft andando {% elif status == "exited" %} Minecraft apagado {% else %} Estado: {{ status }}{% endif %}</h4>
</div>
<div class="pure-u-1">
  <form style="margin-bottom: 5px" action="/start" method="get">
    <button class="button-xlarge pure-button" {% if status == "running" %} disabled="" {% endif %} type="submit">😃 Prender</button>
  </form>
  <form action="/stop" method="get">
    <button class="button-xlarge pure-button" {% if status == "exited" %} disabled="" {% endif %} type="submit">😴 Apagar</button>
  </form>
</div>
<div style="margin-top:27px; background-color: lightgrey; height: 19px;width: 100%;" class="pure-u-1">
</div>

</div>
</body>
</html>
